<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="INPUT_FILE_PATH"    value="D:/nd/pre_interviews/Brady Code Challenge_June 2021/Brady Code Challenge_June 2021/inputFolder" />
    <!--<add key="INPUT_FILE_PATH"    value="D:/nd/pre_interviews/Brady Code Challenge_June 2021/Brady Code Challenge_June 2021/inputFolder/01-Basic-Test.xml" />-->
    <add key="OUTPUT_FILE_PATH"   value="D:/nd/pre_interviews/Brady Code Challenge_June 2021/Brady Code Challenge_June 2021/outputFolder/01-Basic-Result-Test.xml" />
    <add key="REFERENCE_DATA_FILE_PATH"   value="D:/nd/pre_interviews/Brady Code Challenge_June 2021/Brady Code Challenge_June 2021/ReferenceData.xml" />    
  </appSettings>
</configuration>